*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --purple: #9356dc;
  --pink: #ff79da;
  --green: #99e2d0;
  --gray: #f5f5f5;
  --dark-gray: #d3d3d3;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: aliceblue;*/
}

a {
  text-decoration: none;
  color: #000;
}

header {
  /* background-color: var(--pink);*/
  text-align: center;
}

header img {
  height: 30px;
  width: auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  /*background-color: var(--purple);*/
}

.location {
  background-color: var(--dark-gray);
}

.location div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.location .explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray);
}

.location .explorer p {
  max-width: 315px;
  text-align: center;
}

.location .explorer button {
  background-color: var(--purple);
  width: 280px;
  height: 54px;
  color: #ffff;
  font-size: 20px;
  border-radius: 25px 25px;
  border: none;
  margin: 42px auto;
}

aside {
  background-color: antiquewhite;
  margin-top: 45px;
}
