@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --purple: #9356dc;
  --pink: #ff79da;
  --green: #99e2d0;
  --gray: #f5f5f5;
  --dark-gray: #d3d3d3;
}

body {
  font-family:  "Roboto", verdana, "Raleway", sans-serif;
  margin: 0 auto;

}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  z-index: -1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .loader {
  z-index: 9999;
  opacity: 1;
}

.loader span {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    z-index: 9999;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
    animation: none;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: #000;
}

.opacity {
  opacity: 0.5;
}

header {
  text-align: center;
}

header img {
  height: 28px;
  width: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* rule for palette*/
.header2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 80px;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 34px;
  background-color: var(--gray);
}
/*rule for palette */
.container2 {
  max-width: 1330px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  background-color: var(--gray);
}

.location {
  background-color: var(--gray);
}

.location .map {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-gray);
}

.location .map i {
  margin-right: 15px;
}

.location .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.content .explorer p {
  max-width: 336px;
  text-align: center;
  color: rgb(94, 91, 91);
    font-size: 20px;
    font-weight: 300;
}

.content button,
.section2 button {
  background-color: var(--purple);
  width: 221px;
  height: 52px;
  color: #ffff;
  font-size: 16px;
  border-radius: 25px 25px;
  border: none;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 1000ms;
  box-shadow: 6px 6px 6px 0px rgb(0 0 0 / 15%);
  margin-top: 15px;
  font-family: 'Roboto';
}

.content button:hover {
  background: linear-gradient(90deg, #ff72c0, #755bea);
  box-shadow: 8px 8px 6px #b8d6f7;
}

/* for pallette*/
.section2 button:hover {
  background: linear-gradient(90deg, #ff72c0, #755bea);
  box-shadow: 8px 8px 6px #b8d6f7;
}
aside {
  background-color: #ffff;
}

aside h3 {
  margin-top: 40px;
  font-size: 24px;
}

aside .order button {
  margin-top: 26px;
  background-color: var(--gray);
  width: 100%;
  height: 80px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 25px 25px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
  margin-bottom: 25px;
  transition: all 600ms;

  box-shadow: 6px 6px 6px 0px rgb(0 0 0 / 9%);
}

aside i {
  color: grey;
}

aside .order button:hover,
aside .order button:hover i {
  background-color: #dfd6eb;
  color: var(--purple);
}
aside .order button span {
  color: #000;
}

aside .order button i:first-child {
  color: var(--purple);
  font-size: 22px;
  margin-left: -15px;
  background-color: transparent;
}

aside i:nth-child(2) {
  font-size: 20px;
}

main .submain {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-bottom: 25px;
}
main .submain .card {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.opening .card {
  cursor: auto;
  position: relative;
  margin-bottom: 20px;
}

.card span {
  position: absolute;
  top: 21px;
  right: 15px;
  background-color: tomato;
  color: #fff;
  padding: 5px;
  width: 75px;
  font-size: 15px;
  text-align: center;
  color: mediumseagreen;
  background-color: #99e2d0;
  font-weight: bold;
}

main .card img {
  border-radius: 20px 20px 0px 0px;
  height: 181px;
  width: 100%;
  padding-top: 7px;
  object-fit: cover;
  display: block;
}

/* rules for pallette*/
.opening .card img {
  height: 225px;
  width: 100%;
  object-fit: cover;
  display: block;
}

main .restaurant {
  padding: 1px 12px;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
  padding-top: 5px;
}

/* rules for pallette*/

.opening .restaurant {
  padding: 1px 12px;
  border-radius: 36px 36px 0px 0px;
  position: absolute;
  width: 100%;
  top: 195px;
  background-color: var(--gray);
}

main .restaurant h4 {
  /*flex-basis: 72%;*/
  margin: 0;
  margin-top: 12px;
}

/*for pallette*/
.opening h4 {
  font-size: 23px;
  font-family: "Shrikhand", sans-serif;
  /*font-style: italic;*/
}

main .restaurant p {
  margin-bottom: 18px;
  margin-top: 5px;
  color: rgb(94, 91, 91);
}
.submain .card label {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.opening .card label {
  position: absolute;
  bottom: 30px;
  right: 25px;
}


.card input {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.card i {
  display: flex;
  font-size: 24px;
  color: gray;
  cursor: pointer;
  transition: all 0.5s ease;
}
.card input:checked + i,
.card input + i + i {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
}

.card input:checked + i + i {
  width: unset;
  height: unset;
  overflow: visible;
  opacity: 1;
  color: var(--purple);
  transform: scale(1);
}

/*for pallette*/

.categories,
.bgroup-1,
.bgroup-2,
.bgroup-3 {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.section2 {
  margin: 0 auto;
}

.categories header {
  text-align: left;
}

.categories header h4 {
  color: rgb(94, 91, 91);
  font-size: 15px;
  margin-bottom: 1px;
  display: inline-block;
  position: relative;
  padding: 0px 0px 8px;
}

.categories header h4::before {
  position: absolute;
  content: "";
  bottom: 2px;
  left: 0;
  background-color: rgba(129, 221, 221, 0.76);
  width: 44px;
  height: 3px;
}

.categories .button {
  width: 100%;
  height: 65px;
  border-radius: 15px 15px;
  border: none;
  cursor: pointer;
  background-color: #ffff;
  padding: 6px 20px 0px 14px;
  overflow: hidden;
}

.categories span {
  font-size: 18px;
  font-weight: bold;
  display: block;
  width: 286px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categories .box {
  width: 54px;
  height: 67px;
  justify-content: flex-end;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  transform: translateX(136px);
  -moz-transform: translateX(136px);
  margin-top: -24px;
  transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
}

.categories .button:hover .box {
  transform: translateX(20px);
  -moz-transform: translateX(20px);
  margin-left: 60px;
  overflow: visible;
}
.categories .box i {
  color: #ffff;
  font-size: 20px;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transition: all 0.5s ease 0.3s;
  -moz-transition: all 0.5s ease 0.3s;
}

.categories .button:hover .box i {
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.categories .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories p {
 /* color: rgb(94, 91, 91);*/
  font-size: 16px;
  width: 275px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  font-weight: 300
}

.categories h5 {
  margin: 0;
  margin-right: -75px;
}

.categories .ingredients {
  height: 26px;
}

.categories .bgroup-1 {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.categories .bgroup-2 {
  animation-name: slideIn;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.categories .bgroup-3 {
  animation-name: slideIn;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

footer {
  color: #ffff;
}

footer .container3 {
  background-color: #303030;
  padding: 20px 0px;
}

footer .container3 i {
  width: 27px;
}

footer .container3 b {
  margin-right: 8px;
  font-size: 13px;
}

footer div h3 {
  font-style: italic;
  font-weight: bold;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin-top: 10px;
}
footer a {
  color: #ffff;
}
.location .map,
aside,
main,
.categories,
.section2,
footer .container3 {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
  }

  .header2 {
    justify-content: space-evenly;
    margin-right: 100px;
  }

  .opening h4{
    display: block;
    margin-left: 122px;
  }

  .opening .card label {
    right: 136px;
}

  aside .order {
    display: flex;
    gap: 18px;
  }

  aside .order button {
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    gap: 12px;
  }

  aside .order button i:first-child {
    margin-left: -10px;
  }
  .categories,
  .bgroup-1,
  .bgroup-2,
  .bgroup-3 {
    align-items: center;
  }

  .categories header h4 {
    margin-right: 440px;
  }

  .categories .button {
    width: 545px;
  }

  .categories h5 {
    margin: 0;
    margin-right: -224px;
  }

  main .submain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  main .submain .card {
    width: 48%;
  }

  main .restaurant {
    width: 100%;
  }

  footer .container3 {
    padding: 0px 0px 23px 0px;
  }

  footer h3 {
    text-align: center;
    padding-top: 10px;
  }

  footer .container3 ul {
    display: flex;
    justify-content: space-evenly;
  }

  footer .container3 i {
    margin-right: 3px;
  }
}

@media screen and (min-width: 992px) {
  
  .opening h4{
    display: block;
    margin-left: 385px;
  }
  
  .opening .card label {
    right: 400px;
   }
  .header2 {
    justify-content: space-evenly;
    padding-right: 400px;
  }

  main h3 {
    margin-left: 20px;
  }
}
