*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --purple: #9356dc;
  --pink: #ff79da;
  --green: #99e2d0;
  --gray: #f5f5f5;
  --dark-gray: #d3d3d3;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  /*background: url(/Homepage.png) top center no-repeat;*/
}

a {
  text-decoration: none;
  color: #000;
}

.opacity {
  opacity: 0.5;
}

header {
  text-align: center;
}

header img {
  height: 28px;
  width: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.container {
  max-width: 1330px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  background-color: var(--gray);
}

.location {
  background-color: var(--gray);
  height: 340px;
}

.location .map {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-gray);
}

.location .map i {
  margin-right: 15px;
}

.location .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.content .explorer p {
  max-width: 315px;
  text-align: center;
}

.content button {
  background-color: var(--purple);
  width: 221px;
  height: 52px;
  color: #ffff;
  font-size: 15px;
  border-radius: 25px 25px;
  border: none;
  cursor: pointer;
  transform: scale(0.8);
  transition-property: transform;
  transition-duration: 1000ms;
  box-shadow: 6px 6px 6px 0px rgb(0 0 0 / 15%);
}

.content button:hover {
  transform: scale(1);
  background: linear-gradient(90deg, #ff72c0, #755bea);
  box-shadow: 8px 8px 6px #b8d6f7;
}
aside {
  background-color: #ffff;
}

aside .order button {
  margin-top: 26px;
  background-color: var(--gray);
  width: 370px;
  height: 80px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 25px 25px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
  margin-bottom: 25px;
  transition: all 600ms;
  box-shadow: 6px 6px 6px 0px rgb(0 0 0 / 9%);
}

aside i {
  color: grey;
}

aside .order button:hover,
aside .order button:hover i {
  transform: translate(-5px, -5px);
  background-color: #dfd6eb;
  color: var(--purple);
}
aside .order button:hover {
  box-shadow: 8px 8px 6px #d3e2f1;
}

aside .order button span {
  color: #000;
}

aside .order button i:first-child {
  color: var(--purple);
  font-size: 22px;
  margin-left: -15px;
  background-color: transparent;
}

aside i:nth-child(2) {
  font-size: 20px;
}
/*aside .order button i:nth-child(2) {
  color: grey;
  font-size: 20px;
}*/

/*aside .order button b {
  color: var(--purple);
}*/

main .submain {
  /*background-color: var(--gray);*/
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-bottom: 25px;
}
.card {
  position: relative;
  cursor: pointer;
}

.card span {
  position: absolute;
  top: 21px;
  right: 15px;
  background-color: tomato;
  color: #fff;
  padding: 5px;
  width: 75px;
  font-size: 15px;
  text-align: center;
  color: mediumseagreen;
  background-color: #9cd6d6;
  font-weight: bold;
}

main img {
  border-radius: 20px 20px 0px 0px;
  height: 181px;
  width: 100%;
  padding-top: 7px;
  object-fit: cover;
  display: block;
}

main .restaurant {
  display: flex;
  flex-direction: column;
  padding: 1px 12px;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
  width: 364px;
  justify-content: space-between;
  flex-wrap: wrap;
  /*cursor: pointer;*/
  padding-top: 5px;
}

main .restaurant h4 {
  margin: 0;
  flex-basis: 72%;
}

main .restaurant p {
  margin-bottom: 18px;
  margin-top: 2px;
}
.card label {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.card input {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.card i {
  display: flex;
  font-size: 24px;
  color: gray;
  cursor: pointer;
}

.card input + i + i {
  display: none;
}
.card input:checked + i {
  display: none;
}
.card input:checked + i + i {
  display: block;
  color: var(--purple);
}

footer {
  /*margin-top: 60px;*/
  color: #ffff;
}

footer .container2 {
  background-color: #303030;
  padding: 20px 0px;
}

footer .container2 i {
  width: 27px;
}

footer .container2 b {
  margin-right: 8px;
  font-size: 13px;
}

footer div h3 {
  font-style: italic;
  font-weight: bold;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin-top: 10px;
}
footer a {
  color: #ffff;
}
.location .map,
aside,
main,
footer .container2 {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
  }
  aside .order {
    display: flex;
    gap: 18px;
  }

  aside .order button {
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    gap: 12px;
  }

  aside .order button i:first-child {
    margin-left: -10px;
  }

  main .submain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  main .restaurant {
    width: 350px;
  }

  /*main h3 {
    flex-basis: 55%;
  }*/

  main img {
    height: 188px;
    width: 100%;
  }

  footer .container2 {
    padding: 0px 0px 23px 0px;
  }

  footer h3 {
    text-align: center;
    padding-top: 10px;
  }

  footer .container2 ul {
    display: flex;
    justify-content: space-evenly;
  }

  footer .container2 i {
    margin-right: 3px;
  }

  footer .container2 b {
    margin-right: 3px;
  }
}

@media screen and (min-width: 992px) {
  aside .order {
    justify-content: space-between;
  }

  main {
    flex-direction: row;
    justify-content: space-between;
  }

  main img {
    height: 245px;
    width: 305px;
  }

  main .restaurant {
    width: 305px;
  }
}
